<div class="side-bar-header">
  <div class="name">
   <a href="#">yuki</a>
  </div>
  <div class="new-group">
   <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">アルフォート</a>
    </div>
  </div>
</div>